doctype html
html
  head
    title= "welcome to parched"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id = "water")
    h1= "welcome to parched"
    div(id = "map")
    a(href = "/create")
      button(id = "create")= "create"
    a(href = '/sources')
      button(id = "sourcePage")= "Sources"
    script(src='/javascripts/bundle.js')
    script(src='/javascripts/map.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfIbtc35tJsMWvrdhg6V579gpQDkEzNo4&callback=initMap")
    script (src="https://cdn.firebase.com/js/client/2.2.1/firebase.js")

    block content


